<div class="swiper mt-3 offers-swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-content">
        <div class="slide-img">
          <img src="assets/imgs/001.png" alt="">
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <div class="slide-img">
          <img src="assets/imgs/002.png" alt="">
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <div class="slide-img">
          <img src="assets/imgs/003.png" alt="">
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <div class="slide-img">
          <img src="assets/imgs/004.png" alt="">
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <div class="slide-img">
          <img src="assets/imgs/005.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>